{{#if erro}}
    <div class="alerta-erro">{{erro}}</div>
{{/if}}

{{#if sucesso}}
    <div class="alerta-sucesso">{{sucesso}}</div>
{{/if}}

<div class="container">
    <h1 class="titulo">{{title}}</h1>
    <div class="admin-area-container">
        <div class="admin-acoes">
            <a href="/ingressos/adicionar-ingresso">Adicionar ingresso</a>
            <a href="/usuarios/criar-admin">Criar novo admin</a>
        </div>

        <div class="admin-ingressos">
            <h2>Gerenciar ingressos</h2>
            <ul>
                {{#each ingressos}}
                    <li>
                        <p><strong>Nome:</strong> {{nome}}</p>
                        <p><strong>Preço:</strong> {{preco}}</p>
                        <p><strong>Quantidade:</strong> {{quantidade}}</p>
                        <div>
                            <a href="/ingressos/editar/{{_id}}" class="botao-editar">Editar</a>
                            <form action="/ingressos/excluir/{{_id}}" method="POST" style="display:inline;">
                                <button type="submit" class="botao-excluir" onclick="return confirm('Tem certeza que deseja excluir este ingresso?');">Excluir</button>
                            </form>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>