{{#if sucesso}}
    <div class="alerta-sucesso">{{sucesso}}</div>
{{/if}}

{{#if erro}}
    <div class="alerta-erro">{{erro}}</div>
{{/if}}

<div class="container">
    <h1 class="titulo">{{title}}</h1>
    <ul class="lista-ingressos">
        {{#each ingressos}}
            <li>
                <div>
                    <h4>{{nome}}</h4>
                    {{#if quantidade}}
                        <span class="disponivel">Quantidade disponível: {{quantidade}}</span>
                    {{else}}
                        <span class="indisponivel">Indisponível</span>
                    {{/if}}
                    <p>R$ {{preco}}</p>
                </div>
                <a href="/compras/comprar/{{_id}}" class="botao-comprar {{#unless quantidade}}disabled{{/unless}}">Comprar</a>
        {{/each}}
    </ul>
</div>